body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background-color: #FFDDBF;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: #C85853;
  border-radius: 10px;
}

.wave {
  animation-name: wave-animation; 
  animation-duration: 2.5s;        
  animation-iteration-count: infinite;  
  transform-origin: 70% 70%;       
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  
  100% { transform: rotate( 0.0deg) }
}

@keyframes float {
	0% {
		
		transform: translatey(0px);
	}
	50% {
	
		transform: translatey(-38px);
	}
	100% {
	
		transform: translatey(0px);
	}
}

.animation {

	overflow: hidden;
	transform: translatey(0px);
	animation: float 5s ease-in-out infinite;
}